html{
  /* font-size: 62.5%; */
  box-sizing: border-box;
}

*{
  /* border: 1px red solid; */
}

body{
  font: 1.6rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100vh;
  margin: 0;
}
button{
  font-size: 1.0rem;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  /* font-weight: 600; */
}
.full-width{
  width: 100%;
}
#root{
  height: 100%;
}
.grid-container{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 2.5rem 1fr 2rem;
  height: 100%;
}

.header{
  grid-area: header;
  background-color: #e6cfb8;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
}

.home_page_image{
  color: white;
  padding-top: 3vh;
  height: 30vh;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1445205170230-053b83016050?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1651&q=80");
  background-size: cover;
}

.home_page_image h1{
  font-size: 7vw;
}

.brand a{
  color: black;
  font-size: 1.5rem;
  /* font-weight: bold; */
  text-decoration: none;
}

.header-links a{
  color: white;
  text-decoration: none;
  padding-right: 1rem;
}

.header-links a:hover{
  color: rgb(151, 107, 49);
}

.main{
  grid-area: main;
}

.footer{
  grid-area: footer;
  background-color: #ebd9c7;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:hover{
  color: rgb(202, 139, 56);
}

/*Home Screen */

.products{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-name{
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
}

.product-brand{
  color: grey;
  font-size: 0.8rem;

}

.product-price{
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(139, 89, 22);
}
.products li{
  list-style-type: none;
  padding: 0px;
  flex: 0 1 14rem;
  margin: 1rem;
  height: 27rem;
  border-bottom: .1rem grey solid;
}

.product-image{
  max-width: 15rem;
  max-height: 20rem;
}

.product-rating{
  margin-bottom: 0.5rem;
  font-size: 0.7rem;
}

.product_list h1{
  color: rgb(139, 89, 22);
  text-align: center;
}

.product_list_table{
  margin-left: auto;
  margin-right: auto;
}

.product_list_table th, td{
  padding: 0.5vw 2vw;
}

.product_list_head{
  background-color: #ebd9c7;
}

.product_list_body button{
  font-weight: 600;
  padding: 0.2vw 0.5vw;
  margin: 0vw 0.5vw;
  border-radius: 1px;
  background-color: transparent;
  border: 2px solid rgb(139, 89, 22);
  color:  rgb(139, 89, 22);
}

.product_list_body button:hover{
  color: white;
  background-color: rgb(139, 89, 22);
}

/* Search */

.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-left: 0.5rem;
}

.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-right: 0.5rem;
}

/* Sidebar */

.brand button{
  font-size: 1.2rem;
  /* padding: 0.5rem; */
  background: none;
  border: none;
  color: rgb(139, 89, 22);

  cursor: pointer;
}

.sidebar{
  position: fixed;
  transition: all 0.8s;
  transform: translateX(-30rem);
  width: 15rem;
  background-color: rgb(202, 182, 165);
  height: 100%;
  padding: 10px 20px;
}

.sidebar.open{
  transform: translateX(0);
}

.sidebar-close-button{
  /* border-radius: 80%; */
  border: 0.1rem rgb(136, 119, 98) solid;
  background: none;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  color: rgb(141, 118, 88);

}

/* Product Details */
.details{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}
.details-image{
  flex: 2 1 30rem;
}
.details-image img{
  max-width: 30rem;
  width: 100%;
  padding: 1rem 2rem;
}
.details-info{
  flex: 1 1 20rem;
  padding: 2rem;

}
.details-action{
  flex: 1 1 20rem;

}

.details-info ul, .details-action ul{
  list-style-type: none;
  padding: 0;
}

.details-info li, .details-action li{
  margin-bottom: 0.5rem;
}

.back-to-result{
  padding: 0.8rem;
  font-size: 0.8rem;
}

.details-action{
  /* border: 0.1rem grey solid; */
  border-radius: 0.8rem;
  background-color: rgb(241, 235, 226);
  margin: 2rem;
  padding: 1rem 2rem;
  /* background-color: burlywood; */
}

.details-action ul li:last-child{
  display: flex;
  flex-direction: column;
}

.button{
  padding: 0.8rem;
  /* border: .1rem rgb(241, 235, 226) solid; */
  cursor: pointer;
  background-color: rgb(141, 118, 88);
  color: white;
  border-radius: 1rem;
}

.button:hover{
  background-color: rgb(97, 72, 41);
}

.button.primary{
  background-color: rgb(151, 139, 123);
}
.button.secondary{
  background-color: rgb(182, 162, 135);
}
.text-center{
  text-align: center;
}

/* Cart */

.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}

.cart-list {
  flex: 3 1 30rem;
}

.cart-action {
  flex: 1 1 15rem;
  background-color: #ece6df;
  border-radius: 0.5rem;
  padding: 1.2rem;
}

.cart-list-container {
  padding: 0;
  list-style-type: none;
  padding: 1rem;
  
}
.cart-list-container li {
  display: flex;
  justify-content: space-between;

  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: .1rem #cec0b4 solid;
}

.cart-list-container li img {
  max-width: 12rem;
  max-height: 12rem;
  
}

.cart-list-container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  
}

.cart-image {
  flex: 1 1;
}
.cart-name {
  flex: 6 1;
  padding: 1rem;
}

.cart-name div{
  padding: 0.5rem;
}

.cart-name button{
  padding: 0.3rem;
  border-radius: 0.3rem;
}

.cart-price {
  flex: 3 1;
  font-size: 1.5rem;
  text-align: right;

}

/* Forms */

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container{
  display: flex;
  flex-direction: column;
  width: 30rem;
  padding: 2rem;
  background-color: #eee9e4;
  border-radius: .5rem;
  list-style-type: none;
}

.form-container li{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.form-title{
  text-align: center;
  font-weight: 700;
  color: rgb(102, 78, 46);
}

input{
  padding: .5rem;
  border: .1rem rgb(172, 152, 125) solid;
  border-radius: .2rem;
}

/*  Profile */

.profile{
  display: flex;
  flex-wrap: wrap;
}

.profile-info{
  flex: 1 1 15rem;
}

.profile-orders{
  flex: 3 1 30rem;
}

/* Checkout Steps */
.checkout-steps{
  display: flex;
  justify-content: space-between;
  width: 30rem;
  margin: 1rem auto;
}

.checkout-steps > div{
  border-top: .2rem rgb(212, 196, 179) solid;
  color: rgb(143, 143, 143);
  flex: 1 1;
  padding-top: 0.2rem;
}

.checkout-steps > div.active{
  border-top: .2rem rgb(211, 115, 5) solid;
  color: rgb(211, 115, 5);
}

/* Place Order */

.placeorder {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-between;
}
.placeorder-info {
  flex: 3 1 60rem;
}
.placeorder-action {
  flex: 1 1 20rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
}
.placeorder-info > div {
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
  margin: 1rem;
}

.placeorder-info > div:first-child {
  margin-top: 0;
}
.placeorder-action > ul {
  padding: 0;
  list-style-type: none;
}
.placeorder-action > ul > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.placeorder-action > ul > li:last-child {
  font-size: 2rem;
  font-weight: bold;
  color: #c04000;
}
.placeorder-actions-payment > div {
  width: 100%;
}